# Use vi-style bash line editing
set editing-mode vi

# In both vi modes, use ctrl-l to clear the screen and alt-p to recall the
# previous argument. Found at http://jasonwryan.com/blog/2011/12/01/readline/
set keymap vi-command
Control-l: clear-screen
"\ep": yank-last-arg
set keymap vi-insert
Control-l: clear-screen
"\ep": yank-last-arg
